.item {
	border:solid 1px var(--c1);
	width:var(--buttonSize);
	height:var(--buttonSize);
	font-size:1em;
	margin:2px;
	color: var(--c1);
	background-color: var( --tile-color );
	transition: opacity .5s;
	flex-shrink: 0;
	display:flex;
	justify-content: center;
	align-items: flex-end;
	cursor: pointer;
	user-select: none;
	padding:0 0 15px 0;
}

.item.--completed {
	opacity: .2;
}

.item.--completed .tile-name {
	color:blue
}