:root {
	
	--buttonSize: 10em;
	--c1: #233D4D;
	--c2: #FE7F2D;
	--c3: #FCCA46;
	--c4: #A1C181;
	--c5: #619B8A;
	--c6: burlywood;

	--tile-color: var( --c3 );
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');

body{
	margin: 0;
	font-size:25px;
	overflow: hidden;
	background-color: var(--c5);
}

#container {
	padding:5px 0px;
	margin-left:40vw;
	width:100vw;
	height:100vh;
	display:flex;
	overflow:hidden;
	justify-content: flex-start;
	align-items: center;
}
