:root {
	--c1: #233D4D;
	--c2: #FE7F2D;
	--c3: #FCCA46;
	--c4: #A1C181;
	--c5: #619B8A;
	--c6: burlywood;
	--buttonSize: 10em;
	--tile-color: var( --c3 );
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');

body{
	margin: 0;
	font-size:25px;
	background-color: var(--c5);
	font-family: 'Open Sans', sans-serif;
}

#container {
	display:flex;
	margin:4px;
	flex-wrap:wrap;
	overflow:hidden;
	justify-content: flex-start;
	align-items: center;
}

#title {
text-align: center;
}
